body {
    display: block;
    max-width: 1024px;
    margin: 0 auto;
}

h1, h2, h3 {
    color: rgb(8, 6, 109);
}

.info p {
   color: blue;
   font-weight: bold;
   font-size: 10;
   font-style: italic;

}

img {
    width: 150px;
    height: 180px;
    }